# Model Building Requirements
numpy==1.16.4
pandas==1.0.3

scikit-learn==0.21.0
gym==0.15.3
stable-baselines==2.10.0
tensorflow>=1.14

joblib==0.15.1

# plot
matplotlib==3.2.1

# testing requirements
pytest>=5.3.2,<6.0.0

# packaging
setuptools>=41.4.0,<42.0.0
wheel>=0.33.6,<0.34.0

# fetching datasets
#kaggle>=1.5.6,<1.6.0
