absl-py==0.11.0
alabaster==0.7.12
alembic==1.4.3
apipkg==1.5
appdirs==1.4.4
atari-py==0.2.6
attrs==20.3.0
Babel==2.9.0
backcall==0.2.0
black==20.8b1
box2d-py==2.3.8
brotlipy==0.7.0
cachetools==4.2.0
certifi==2020.12.5
click==7.1.2
cliff==3.5.0
cloudpickle==1.6.0
cmaes==0.7.0
cmd2==1.4.0
colorama==0.4.4
colorlog==4.6.2
conda==4.9.2
coverage==5.3.1
cycler==0.10.0
dataclasses==0.7
DataProperty==0.50.0
decorator==4.4.2
docutils==0.16
empyrical==0.5.5
execnet==1.7.1
flake8==3.8.4
future==0.18.2
google-auth==1.24.0
google-auth-oauthlib==0.4.2
grpcio==1.34.0
gym==0.18.0
gym-minigrid==1.0.2
imagesize==1.2.0
importlab==0.5.1
importlib-metadata==3.3.0
iniconfig==1.1.1
int-date==0.1.8
isort==5.6.4
jedi==0.17.0
Jinja2==2.11.2
joblib==1.0.0
kiwisolver==1.3.1
livereload==2.6.3
lxml==4.6.2
Mako==1.1.3
Markdown==3.3.3
MarkupSafe==1.1.1
matplotlib==3.3.3
mbstrdecoder==1.0.1
mccabe==0.6.1
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
msgfy==0.1.0
multitasking==0.0.9
mypy-extensions==0.4.3
networkx==2.5
ninja==1.10.0.post2
oauthlib==3.1.0
opencv-python==4.4.0.46
opencv-python-headless==4.4.0.46
optuna==2.3.0
packaging==20.8
pandas==1.1.5
pandas-datareader==0.9.0
pathspec==0.8.1
pathvalidate==2.3.1
pbr==5.5.1
Pillow==7.2.0
pluggy==0.13.1
prettytable==0.7.2
protobuf==3.14.0
psutil==5.8.0
py==1.10.0
pyaml==20.4.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybullet==3.0.7
pycodestyle==2.6.0
pycosat==0.6.3
pyenchant==3.2.0
pyflakes==2.2.0
pyfolio @ git+https://github.com/quantopian/pyfolio@4b901f6d73aa02ceb6d04b7d83502e5c6f2e81aa
pygame==2.0.0
pyglet==1.5.0
pyparsing==2.4.7
pyperclip==1.8.1
pytablewriter==0.58.0
pytest==6.2.1
pytest-cov==2.10.1
pytest-env==0.6.2
pytest-forked==1.3.0
pytest-xdist==2.2.0
python-dateutil==2.8.1
python-editor==1.0.4
pytype==2020.12.16
pytz==2020.4
PyYAML==5.3.1
regex==2020.11.13
requests-oauthlib==1.3.0
rsa==4.6
ruamel-yaml==0.15.87
sb3-contrib==0.11.0a4
scikit-learn==0.23.2
scikit-optimize==0.8.1
seaborn==0.11.1
snowballstemmer==2.0.0
Sphinx==3.4.0
sphinx-autobuild==2020.9.1
sphinx-autodoc-typehints==1.11.1
sphinx-rtd-theme==0.5.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-spelling==7.1.0
SQLAlchemy==1.3.22
stable-baselines3==0.11.0a4
stevedore==3.3.0
stockstats==0.3.2
tabledata==1.1.3
tcolorpy==0.0.8
tensorboard==2.4.0
tensorboard-plugin-wit==1.7.0
threadpoolctl==2.1.0
toml==0.10.2
torch==1.7.1
tornado==6.1
traitlets==4.3.3
typed-ast==1.4.1
typepy==1.1.2
Werkzeug==1.0.1
yfinance==0.1.63
zipp==3.4.0
